# Archivos sensibles
.env
service_account.json
credentials.json
token.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
